body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили для заголовка */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Логотип в заголовке */
header img {
    max-width: 150px;
    height: auto;
}

/* Основной контент */
main {
    padding: 20px;
}

/* Стили для футера */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}